
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add Categories</h2>
            </div>
        </div>
        
        <div class="card" style="background-color: #e6b3b3;">
            <div class="card-body">
                
                <!-- Display success or error messages for category operations -->
                {{#if catExistMsg}}
                    <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
                        {{catExistMsg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{else if catSaveMsg}}
                    <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
                        {{catSaveMsg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}

                <div class="row">
                    <div class="col-md-12">
                        <!-- Category form for adding a new category -->
                        <form action="/admin/addCategory" method="post" id="product_form" enctype="multipart/form-data">
                            
                            <!-- Category Name Input -->
                            <div class="mb-4">
                                <label for="categoryName" class="form-label">Category Name:</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="category_name" required />
                            </div>
                            <div id="name-validation-message" class="text-danger"></div>
                            
                            <!-- Category Image Upload -->
                            <div class="mb-4">
                                <label for="categoryImage" class="form-label">Category Image:</label>
                                <input type="file" class="form-control-file" name="image" accept="image/*" id="category_image" />
                            </div>
                            
                            <!-- Action Buttons -->
                            <div class="d-flex g-2">
                                <div class="m-2">
                                    <button type="submit" class="btn btn-primary">Create Category</button>
                                </div>
                                <div class="m-2">
                                    <a href="/admin/Category" class="btn btn-primary">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


    

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Leave the page?",
                text: "The Data will not be saved",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/Category";
                }
            });
        });
    })
</script>