<body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          {{#if userData}}
            <a href="/profile">Profile</a>
            <a href="/logout" id="logoutbtn">Logout</a>
          {{else}}
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
          {{/if}}
        </div>
      </div>
      <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt="" /></a>
        <a href="#"><img src="img/icon/heart.png" alt="" /></a>
        <a href="#"><img src="img/icon/cart.png" alt="" /> <span>0</span></a>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links">
                  {{#if userData}}
                    <a href="/profile">Profile</a>
                    <a href="/logout" id="logoutbtn">Logout</a>
                  {{else}}
                    <a href="/signup">Sign up</a>
                    <a href="/login">Login</a>
                  {{/if}}
    
                  <a href="#">FAQs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="/"><img src="img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/contact">Contacts</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="#" class="search-switch"><img src="img/icon/search.png" alt="" /></a>
              <a href="#"><img src="img/icon/heart.png" alt="" /></a>
              <a href="#"><img src="img/icon/cart.png" alt="" /> <span>0</span></a>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <!-- Header Section End -->
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        // Redirect to home page after login
        $(document).ready(function () {
            if (window.location.pathname === '/login' && {{userData}}) {
                window.location.href = "/";
            }
        });
        
        // Logout Button
        $(document).ready(function () {
            $('#logoutbtn').click(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: "LOGOUT?",
                    text: "Do you want to logout?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#088178",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/logout";
                    }
                });
            });
        });
    </script>

</body>
