
    <style>
        .container {
            text-align: center;
        }
    </style>

<body>
    <div class="container">
        <h1>Unauthorized Access</h1>
        <p>You do not have permission to view this order.</p>
        <a href="/">Go to Homepage</a>
    </div>
</body>